[Unit]
Description=Check battery every 2 minutes when low

[Timer]
OnBootSec=2min
OnUnitActiveSec=2min
Unit=low-battery-check.service

[Install]
WantedBy=timers.target
